In [82]:
# [Exceptionally high state having more exonerations for murder than the average] is predicted to have 
# a higher rate of incarceration for murder
# Ho: The exoneration rate has no effect on the incarceration count for murder
# Ha: The exoneration count for murder is correlated with a higher incarceration count for murder
# z-test

In [83]:
# Import Pandas
import pandas as pd

# Import

In [84]:
df1 = pd.read_excel('NIJ_exonerations.xlsx')
df1.head()

,Last Name,First Name,Age,Race,Sex,State,County,Tags,Worst Crime Display,List Add'l Crimes Recode,...,DNA,*,FC,MWID,F/MFE,P/FA,OM,ILD,Posting Date,ID
0,Abbitt,Joseph Lamont,31.0,Black,Male,North Carolina,Forsyth,CV;#IO,Child Sex Abuse,Sexual Assault;#Kidnapping;#Burglary/Unlawful ...,...,DNA,NaN,NaN,MWID,NaN,NaN,NaN,NaN,2011-09-01,3807
1,Abdal,Warith Habib,43.0,Black,Male,New York,Erie,IO,Sexual Assault,Robbery,...,DNA,NaN,NaN,MWID,F/MFE,NaN,OM,NaN,2011-08-29,2978
2,Abernathy,Christopher,17.0,White,Male,Illinois,Cook,CIU;#CV;#H;#IO,Murder,Rape;#Robbery,...,DNA,NaN,FC,NaN,NaN,P/FA,OM,NaN,2015-02-13,4640
3,Abney,Quentin,32.0,Black,Male,New York,New York,CV,Robbery,NaN,...,NaN,NaN,NaN,MWID,NaN,NaN,NaN,NaN,2019-05-13,5553
4,Acero,Longino,35.0,Hispanic,Male,California,Santa Clara,NC;#P,Sex Offender Registration,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ILD,2011-08-29,2979

In [85]:
df1.shape

(2450, 24)

In [86]:
# Check all the unique values in 'Worst Crime Display' to ensure they're are no duplicates for murder or differing values

set(df1['Worst Crime Display'])

{'Accessory to Murder',
 'Arson',
 'Assault',
 'Attempt, Violent',
 'Attempted Murder',
 'Bribery',
 'Burglary/Unlawful Entry',
 'Child Abuse',
 'Child Sex Abuse',
 'Dependent Adult Abuse',
 'Destruction of Property',
 'Drug Possession or Sale',
 'Failure to Pay Child Support',
 'Filing a False Report',
 'Forgery',
 'Fraud',
 'Harassment',
 'Immigration',
 'Kidnapping',
 'Manslaughter',
 'Menacing',
 'Military Justice Offense',
 'Murder',
 'Obstruction of Justice',
 'Official Misconduct',
 'Other',
 'Other Nonviolent Felony',
 'Other Violent Felony',
 'Perjury',
 'Possession of Stolen Property',
 'Robbery',
 'Sex Offender Registration',
 'Sexual Assault',
 'Solicitation',
 'Stalking',
 'Supporting Terrorism',
 'Tax Evasion/Fraud',
 'Theft',
 'Threats',
 'Traffic Offense',
 'Weapon Possession or Sale'}

In [87]:
df1.groupby('Worst Crime Display')['ID'].nunique() # murder - 934

Worst Crime Display
Accessory to Murder                2
Arson                             23
Assault                           96
Attempt, Violent                   4
Attempted Murder                  54
Bribery                            5
Burglary/Unlawful Entry           15
Child Abuse                        9
Child Sex Abuse                  270
Dependent Adult Abuse              1
Destruction of Property            2
Drug Possession or Sale          320
Failure to Pay Child Support       2
Filing a False Report              1
Forgery                            3
Fraud                             40
Harassment                         1
Immigration                        4
Kidnapping                        15
Manslaughter                      46
Menacing                           2
Military Justice Offense           1
Murder                           934
Obstruction of Justice             1
Official Misconduct                2
Other                              9
Other Nonviolent Felony           13
Other Violent Felony               9
Perjury                            5
Possession of Stolen Property      3
Robbery                          127
Sex Offender Registration         25
Sexual Assault                   325
Solicitation                       2
Stalking                           2
Supporting Terrorism               2
Tax Evasion/Fraud                  7
Theft                             19
Threats                            4
Traffic Offense                    6
Weapon Possession or Sale         39
Name: ID, dtype: int64

In [88]:
# Confirm/Count Number of Murder exonerations there are in the dataset

sum(df1['Worst Crime Display'] == 'Murder')

934

In [89]:
# Create a dataframe containing only murder exonerations

murder_df = (df1.loc[df1['Worst Crime Display'] == 'Murder'])

In [90]:
# Count the number of murder exonerations per State

murder_df.groupby('State')['ID'].nunique()

State
Alabama                  13
Alaska                    5
Arizona                  12
Arkansas                  4
California               78
Colorado                  5
Connecticut              14
Delaware                  1
District of Columbia     12
Fed-CT                    1
Fed-MA                    1
Fed-MO                    1
Fed-NY                    1
Florida                  27
Georgia                  18
Idaho                     2
Illinois                155
Indiana                  14
Iowa                      4
Kansas                    3
Kentucky                  5
Louisiana                33
Maryland                 25
Massachusetts            25
Michigan                 34
Minnesota                 2
Mississippi              12
Missouri                 26
Montana                   4
Nebraska                  8
Nevada                    6
New Jersey               14
New Mexico                5
New York                121
North Carolina           22
Ohio                     31
Oklahoma                 17
Oregon                    7
Pennsylvania             45
Puerto Rico               6
Rhode Island              3
South Carolina            4
Tennessee                11
Texas                    48
Utah                      6
Vermont                   1
Virginia                 18
Washington                6
West Virginia             4
Wisconsin                12
Wyoming                   2
Name: ID, dtype: int64

In [91]:
murder_df.shape

(934, 24)

In [92]:
# Convert murder exoneration count per state into a dictionary

murder_dict = murder_df.groupby('State')['ID'].nunique().to_dict()
murder_dict

{'Alabama': 13,
 'Alaska': 5,
 'Arizona': 12,
 'Arkansas': 4,
 'California': 78,
 'Colorado': 5,
 'Connecticut': 14,
 'Delaware': 1,
 'District of Columbia': 12,
 'Fed-CT': 1,
 'Fed-MA': 1,
 'Fed-MO': 1,
 'Fed-NY': 1,
 'Florida': 27,
 'Georgia': 18,
 'Idaho': 2,
 'Illinois': 155,
 'Indiana': 14,
 'Iowa': 4,
 'Kansas': 3,
 'Kentucky': 5,
 'Louisiana': 33,
 'Maryland': 25,
 'Massachusetts': 25,
 'Michigan': 34,
 'Minnesota': 2,
 'Mississippi': 12,
 'Missouri': 26,
 'Montana': 4,
 'Nebraska': 8,
 'Nevada': 6,
 'New Jersey': 14,
 'New Mexico': 5,
 'New York': 121,
 'North Carolina': 22,
 'Ohio': 31,
 'Oklahoma': 17,
 'Oregon': 7,
 'Pennsylvania': 45,
 'Puerto Rico': 6,
 'Rhode Island': 3,
 'South Carolina': 4,
 'Tennessee': 11,
 'Texas': 48,
 'Utah': 6,
 'Vermont': 1,
 'Virginia': 18,
 'Washington': 6,
 'West Virginia': 4,
 'Wisconsin': 12,
 'Wyoming': 2}

In [93]:
# To match our other dataset, we will convert all the indiviudal Federal Murder Exonerations into one count

murder_dict['Federal'] = sum([value for key, value in murder_dict.items() if 'Fed-' in key])

murder_dict_copy = dict(murder_dict)

for (key, value) in murder_dict_copy.items() :
    if 'Fed-' in key:
        del murder_dict[key]
        
murder_dict

{'Alabama': 13,
 'Alaska': 5,
 'Arizona': 12,
 'Arkansas': 4,
 'California': 78,
 'Colorado': 5,
 'Connecticut': 14,
 'Delaware': 1,
 'District of Columbia': 12,
 'Florida': 27,
 'Georgia': 18,
 'Idaho': 2,
 'Illinois': 155,
 'Indiana': 14,
 'Iowa': 4,
 'Kansas': 3,
 'Kentucky': 5,
 'Louisiana': 33,
 'Maryland': 25,
 'Massachusetts': 25,
 'Michigan': 34,
 'Minnesota': 2,
 'Mississippi': 12,
 'Missouri': 26,
 'Montana': 4,
 'Nebraska': 8,
 'Nevada': 6,
 'New Jersey': 14,
 'New Mexico': 5,
 'New York': 121,
 'North Carolina': 22,
 'Ohio': 31,
 'Oklahoma': 17,
 'Oregon': 7,
 'Pennsylvania': 45,
 'Puerto Rico': 6,
 'Rhode Island': 3,
 'South Carolina': 4,
 'Tennessee': 11,
 'Texas': 48,
 'Utah': 6,
 'Vermont': 1,
 'Virginia': 18,
 'Washington': 6,
 'West Virginia': 4,
 'Wisconsin': 12,
 'Wyoming': 2,
 'Federal': 4}

In [94]:
len(murder_dict)

48

In [95]:
# Add Hawaii, Maine, New Hampshire, North Dakota, South Dakota
murder_dict.update({'Hawaii' : 0})
murder_dict.update({'New Hampshire' : 0})
murder_dict.update({'North Dakota' : 0})
murder_dict.update({'South Dakota' : 0})

# Remove Puerto Rico
del murder_dict['Puerto Rico']

murder_dict

{'Alabama': 13,
 'Alaska': 5,
 'Arizona': 12,
 'Arkansas': 4,
 'California': 78,
 'Colorado': 5,
 'Connecticut': 14,
 'Delaware': 1,
 'District of Columbia': 12,
 'Florida': 27,
 'Georgia': 18,
 'Idaho': 2,
 'Illinois': 155,
 'Indiana': 14,
 'Iowa': 4,
 'Kansas': 3,
 'Kentucky': 5,
 'Louisiana': 33,
 'Maryland': 25,
 'Massachusetts': 25,
 'Michigan': 34,
 'Minnesota': 2,
 'Mississippi': 12,
 'Missouri': 26,
 'Montana': 4,
 'Nebraska': 8,
 'Nevada': 6,
 'New Jersey': 14,
 'New Mexico': 5,
 'New York': 121,
 'North Carolina': 22,
 'Ohio': 31,
 'Oklahoma': 17,
 'Oregon': 7,
 'Pennsylvania': 45,
 'Rhode Island': 3,
 'South Carolina': 4,
 'Tennessee': 11,
 'Texas': 48,
 'Utah': 6,
 'Vermont': 1,
 'Virginia': 18,
 'Washington': 6,
 'West Virginia': 4,
 'Wisconsin': 12,
 'Wyoming': 2,
 'Federal': 4,
 'Hawaii': 0,
 'New Hampshire': 0,
 'North Dakota': 0,
 'South Dakota': 0}

In [102]:
len(murder_dict)

51

In [136]:
murder_df = pd.DataFrame.from_dict(murder_dict, orient ='index')
murder_df

                        0
Alabama                13
Alaska                  5
Arizona                12
Arkansas                4
California             78
Colorado                5
Connecticut            14
Delaware                1
District of Columbia   12
Florida                27
Georgia                18
Idaho                   2
Illinois              155
Indiana                14
Iowa                    4
Kansas                  3
Kentucky                5
Louisiana              33
Maryland               25
Massachusetts          25
Michigan               34
Minnesota               2
Mississippi            12
Missouri               26
Montana                 4
Nebraska                8
Nevada                  6
New Jersey             14
New Mexico              5
New York              121
North Carolina         22
Ohio                   31
Oklahoma               17
Oregon                  7
Pennsylvania           45
Rhode Island            3
South Carolina          4
Tennessee              11
Texas                  48
Utah                    6
Vermont                 1
Virginia               18
Washington              6
West Virginia           4
Wisconsin              12
Wyoming                 2
Federal                 4
Hawaii                  0
New Hampshire           0
North Dakota            0
South Dakota            0

In [ ]:
murder_df.reset_index(inplace=True)

In [140]:

murder_df.columns = ['State','Murder_Exoneration_Count']
murder_df['State'] = murder_df['State'].str.upper() 
murder_df

                   State  Murder_Exoneration_Count
0                ALABAMA                        13
1                 ALASKA                         5
2                ARIZONA                        12
3               ARKANSAS                         4
4             CALIFORNIA                        78
5               COLORADO                         5
6            CONNECTICUT                        14
7               DELAWARE                         1
8   DISTRICT OF COLUMBIA                        12
9                FLORIDA                        27
10               GEORGIA                        18
11                 IDAHO                         2
12              ILLINOIS                       155
13               INDIANA                        14
14                  IOWA                         4
15                KANSAS                         3
16              KENTUCKY                         5
17             LOUISIANA                        33
18              MARYLAND                        25
19         MASSACHUSETTS                        25
20              MICHIGAN                        34
21             MINNESOTA                         2
22           MISSISSIPPI                        12
23              MISSOURI                        26
24               MONTANA                         4
25              NEBRASKA                         8
26                NEVADA                         6
27            NEW JERSEY                        14
28            NEW MEXICO                         5
29              NEW YORK                       121
30        NORTH CAROLINA                        22
31                  OHIO                        31
32              OKLAHOMA                        17
33                OREGON                         7
34          PENNSYLVANIA                        45
35          RHODE ISLAND                         3
36        SOUTH CAROLINA                         4
37             TENNESSEE                        11
38                 TEXAS                        48
39                  UTAH                         6
40               VERMONT                         1
41              VIRGINIA                        18
42            WASHINGTON                         6
43         WEST VIRGINIA                         4
44             WISCONSIN                        12
45               WYOMING                         2
46               FEDERAL                         4
47                HAWAII                         0
48         NEW HAMPSHIRE                         0
49          NORTH DAKOTA                         0
50          SOUTH DAKOTA                         0

In [121]:
#murder_df = murder_df.sort_index
#type(murder_df) - method

In [141]:
crime_and_incarceration_df = pd.read_csv('crime_and_incarceration_by_state.csv')
crime_and_incarceration_df.head()

,jurisdiction,includes_jails,year,prisoner_count,crime_reporting_change,crimes_estimated,state_population,violent_crime_total,murder_manslaughter,rape_legacy,rape_revised,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft
0,FEDERAL,False,2001,"149,852",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ALABAMA,False,2001,"24,741",False,False,"4,468,912","19,582",379,"1,369",NaN,"5,584","12,250","173,253","40,642","119,992","12,619"
2,ALASKA,True,2001,"4,570",False,False,"633,630","3,735",39,501,NaN,514,"2,681","23,160","3,847","16,695","2,618"
3,ARIZONA,False,2001,"27,710",False,False,"5,306,966","28,675",400,"1,518",NaN,"8,868","17,889","293,874","54,821","186,850","52,203"
4,ARKANSAS,False,2001,"11,489",False,False,"2,694,698","12,190",148,892,NaN,"2,181","8,969","99,106","22,196","69,590","7,320"

In [143]:
merged_left = pd.merge(left=murder_df,right=crime_and_incarceration_df, how='left', left_on='State', right_on='jurisdiction')

In [145]:
merged_left

,State,Murder_Exoneration_Count,jurisdiction,includes_jails,year,prisoner_count,crime_reporting_change,crimes_estimated,state_population,violent_crime_total,murder_manslaughter,rape_legacy,rape_revised,robbery,agg_assault,property_crime_total,burglary,larceny,vehicle_theft
0,ALABAMA,13,ALABAMA,False,2001.0,"24,741",False,False,"4,468,912","19,582",379,"1,369",NaN,"5,584","12,250","173,253","40,642","119,992","12,619"
1,ALABAMA,13,ALABAMA,False,2002.0,"25,100",False,False,"4,478,896","19,931",303,"1,664",NaN,"5,962","12,002","180,400","42,578","123,932","13,890"
2,ALABAMA,13,ALABAMA,False,2003.0,"27,614",False,False,"4,503,726","19,331",299,"1,656",NaN,"6,038","11,338","182,241","43,245","124,039","14,957"
3,ALABAMA,13,ALABAMA,False,2004.0,"25,635",False,False,"4,525,375","19,324",254,"1,742",NaN,"6,042","11,286","182,340","44,666","123,650","14,024"
4,ALABAMA,13,ALABAMA,False,2005.0,"24,315",False,False,"4,548,327","19,678",374,"1,564",NaN,"6,447","11,293","177,393","43,473","120,780","13,140"
5,ALABAMA,13,ALABAMA,False,2006.0,"24,103",False,False,"4,599,030","19,553",382,"1,646",NaN,"7,062","10,463","181,249","44,780","121,451","15,018"
6,ALABAMA,13,ALABAMA,False,2007.0,"25,253",False,False,"4,627,851","20,775",412,"1,548",NaN,"7,398","11,417","184,082","45,379","124,465","14,238"
7,ALABAMA,13,ALABAMA,False,2008.0,"25,363",False,False,"4,661,900","21,110",351,"1,618",NaN,"7,346","11,795","190,416","50,411","126,539","13,466"
8,ALABAMA,13,ALABAMA,False,2009.0,"27,241",False,False,"4,708,708","21,194",322,"1,504",NaN,"6,265","13,103","178,007","48,844","118,072","11,091"
9,ALABAMA,13,ALABAMA,False,2010.0,"27,345",False,False,"4,785,401","18,363",275,"1,355",NaN,"4,864","11,869","168,828","42,484","115,564","10,780"
10,ALABAMA,13,ALABAMA,False,2011.0,"26,813",True,False,"4,803,689","20,166",299,"1,370",NaN,"4,906","13,591","173,192","51,119","111,411","10,662"
11,ALABAMA,13,ALABAMA,False,2012.0,"26,768",False,False,"4,817,528","21,693",342,"1,296",NaN,"5,020","15,035","168,878","47,481","111,523","9,874"
12,ALABAMA,13,ALABAMA,False,2013.0,"26,825",False,False,"4,833,996","20,834",346,"1,449","2,055","4,645","13,788","161,835","42,410","108,862","10,563"
13,ALABAMA,13,ALABAMA,False,2014.0,"26,145",False,False,"4,849,377","20,727",276,"1,436","2,005","4,701","13,745","154,094","39,715","104,238","10,141"
14,ALABAMA,13,ALABAMA,False,2015.0,"25,212",False,False,4858979,22952,348,1456,2039,4611,15954,144746,35255,99156,10335
15,ALABAMA,13,ALABAMA,False,2016.0,"23,745",False,False,4860545,25878,407,NaN,1915,4687,18869,143259,34045,97498,11716
16,ALASKA,5,ALASKA,True,2001.0,"4,570",False,False,"633,630","3,735",39,501,NaN,514,"2,681","23,160","3,847","16,695","2,618"
17,ALASKA,5,ALASKA,True,2002.0,"4,351",False,False,"641,482","3,627",33,511,NaN,489,"2,594","24,118","3,908","17,739","2,471"
18,ALASKA,5,ALASKA,True,2003.0,"4,472",False,False,"648,280","3,877",39,605,NaN,446,"2,787","24,386","3,874","18,051","2,461"
19,ALASKA,5,ALASKA,True,2004.0,"4,534",False,False,"657,755","4,159",37,558,NaN,447,"3,117","22,172","3,773","16,159","2,240"
20,ALASKA,5,ALASKA,True,2005.0,"4,798",False,False,"663,253","4,194",32,538,NaN,537,"3,087","23,975","4,131","17,249","2,595"
21,ALASKA,5,ALASKA,True,2006.0,"5,052",False,False,"670,053","4,610",36,512,NaN,600,"3,462","23,975","4,155","17,284","2,536"
22,ALASKA,5,ALASKA,True,2007.0,"5,151",False,False,"683,478","4,520",43,545,NaN,581,"3,351","23,096","3,734","16,929","2,433"
23,ALASKA,5,ALASKA,True,2008.0,"4,997",False,False,"686,293","4,475",27,447,NaN,645,"3,356","20,090","3,237","15,225","1,628"
24,ALASKA,5,ALASKA,True,2009.0,"5,472",False,False,"698,473","4,424",22,513,NaN,654,"3,235","20,538","3,600","15,251","1,687"
25,ALASKA,5,ALASKA,True,2010.0,"5,369",False,False,"714,146","4,537",31,533,NaN,594,"3,379","20,259","3,105","15,535","1,619"
26,ALASKA,5,ALASKA,True,2011.0,"6,216",False,False,"723,860","4,416",30,436,NaN,576,"3,374","19,094","2,852","14,854","1,388"
27,ALASKA,5,ALASKA,True,2012.0,"6,308",False,False,"730,307","4,412",30,583,NaN,630,"3,169","20,037","2,950","15,565","1,522"
28,ALASKA,5,ALASKA,True,2013.0,"5,081",False,False,"737,259","4,709",34,657,925,623,"3,127","21,211","2,917","16,599","1,695"
29,ALASKA,5,ALASKA,True,2014.0,"6,323",False,False,"736,732","4,684",41,555,771,629,"3,243","20,334","3,150","15,445","1,739"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771,NORTH DAKOTA,0,NORTH DAKOTA,False,2003.0,"1,100",False,False,"633,400",508,9,160,NaN,53,286,"13,364","1,959","10,327","1,078"
772,NORTH DAKOTA,0,NORTH DAKOTA,False,2004.0,"1,130",False,False,"636,308",558,8,177,NaN,43,330,"12,493","2,040","9,516",937
773,NORTH DAKOTA,0,NORTH DAKOTA,False,2005.0,"1,318",False,False,"634,605",706,12,180,NaN,54,460,"12,848","2,043","9,732","1,073"
774,NORTH DAKOTA,0,NORTH DAKOTA,False,2006.0,"1,337",False,False,"635,867","1,255",14,241,NaN,75,925,"13,359","2,601","9,672","1,086"
775,NORTH DAKOTA,0,NORTH DAKOTA,False,2007.0,"1,392",False,False,"639,715","1,343",17,252,NaN,75,999,"12,796","2,314","9,500",982
776,NORTH DAKOTA,0,NORTH DAKOTA,False,2008.0,"1,379",False,False,"641,481","1,441",11,331,NaN,73,"1,026","13,029","2,336","9,782",911
777,NORTH DAKOTA,0,NORTH DAKOTA,False,2009.0,"1,436",False,False,"646,844","1,723",12,296,NaN,107,"1,308","12,813","2,426","9,474",913
778,NORTH DAKOTA,0,NORTH DAKOTA,False,2010.0,"1,416",False,False,"674,629","1,548",10,245,NaN,90,"1,203","12,010","2,000","9,137",873
779,NORTH DAKOTA,0,NORTH DAKOTA,False,2011.0,"1,385",False,False,"684,740","1,699",24,266,NaN,91,"1,318","13,334","2,458","9,891",985
780,NORTH DAKOTA,0,NORTH DAKOTA,False,2012.0,"1,413",False,False,"701,345","1,723",25,279,NaN,127,"1,292","14,297","2,429","10,687","1,181"
781,NORTH DAKOTA,0,NORTH DAKOTA,False,2013.0,"1,576",False,False,"723,857","1,979",16,288,355,161,"1,447","15,356","2,979","10,942","1,435"
782,NORTH DAKOTA,0,NORTH DAKOTA,False,2014.0,"1,696",False,False,"739,482","1,960",22,276,358,173,"1,407","15,605","2,707","11,384","1,514"
783,NORTH DAKOTA,0,NORTH DAKOTA,False,2015.0,"1,772",False,False,756927,1812,21,276,345,148,1298,16020,2997,11440,1583
784,NORTH DAKOTA,0,NORTH DAKOTA,False,2016.0,"1,639",False,False,755548,1905,16,NaN,356,181,1352,17451,3248,12249,1954
785,SOUTH DAKOTA,0,SOUTH DAKOTA,False,2001.0,"2,799",False,False,"758,324","1,171",7,351,NaN,103,710,"16,473","3,087","12,571",815
786,SOUTH DAKOTA,0,SOUTH DAKOTA,False,2002.0,"2,943",False,False,"760,437","1,350",11,361,NaN,117,861,"15,992","3,034","12,139",819
787,SOUTH DAKOTA,0,SOUTH DAKOTA,False,2003.0,"3,019",False,False,"764,905","1,329",10,356,NaN,104,859,"15,324","2,878","11,572",874
788,SOUTH DAKOTA,0,SOUTH DAKOTA,False,2004.0,"3,053",False,False,"770,621","1,319",17,336,NaN,112,854,"14,885","3,148","10,890",847
789,SOUTH DAKOTA,0,SOUTH DAKOTA,False,2005.0,"3,346",False,False,"774,883","1,387",18,377,NaN,145,847,"13,694","2,505","10,350",839
790,SOUTH DAKOTA,0,SOUTH DAKOTA,False,2006.0,"3,316",False,False,"781,919","2,071",30,465,NaN,158,"1,418","13,812","3,024","9,954",834
791,SOUTH DAKOTA,0,SOUTH DAKOTA,False,2007.0,"3,276",False,False,"796,214","1,926",31,433,NaN,118,"1,344","13,829","2,647","10,398",784
792,SOUTH DAKOTA,0,SOUTH DAKOTA,False,2008.0,"3,352",False,False,"804,194","2,227",37,562,NaN,134,"1,494","13,867","2,683","10,266",918
793,SOUTH DAKOTA,0,SOUTH DAKOTA,False,2009.0,"3,390",False,False,"812,383","1,777",30,501,NaN,117,"1,129","14,378","2,621","10,891",866
794,SOUTH DAKOTA,0,SOUTH DAKOTA,False,2010.0,"3,393",False,False,"816,598","2,196",23,385,NaN,154,"1,634","15,188","3,192","11,196",800
795,SOUTH DAKOTA,0,SOUTH DAKOTA,False,2011.0,"3,562",False,False,"823,593","2,105",20,503,NaN,167,"1,415","15,299","2,927","11,423",949
796,SOUTH DAKOTA,0,SOUTH DAKOTA,False,2012.0,"3,596",False,False,"834,047","2,701",23,600,NaN,157,"1,921","17,326","3,280","12,973","1,073"
797,SOUTH DAKOTA,0,SOUTH DAKOTA,False,2013.0,"3,612",False,False,"845,510","2,733",18,454,507,156,"2,052","16,274","3,383","11,955",936
798,SOUTH DAKOTA,0,SOUTH DAKOTA,False,2014.0,"3,507",False,False,"853,175","2,786",20,413,470,200,"2,096","15,902","2,818","12,077","1,007"
799,SOUTH DAKOTA,0,SOUTH DAKOTA,False,2015.0,"3,536",False,False,858469,3289,32,441,495,216,2546,16680,2960,12532,1188
800,SOUTH DAKOTA,0,SOUTH DAKOTA,False,2016.0,"3,770",False,False,861542,3636,28,NaN,526,274,2808,17207,3002,12705,1500

In [ ]:
crime_and_incarceration_by_state.csv

In [101]:
#murder_dict = sorted(murder_dict)
#sortednames=sorted(dictUsers.keys(), key=lambda x:x.lower())
#dict( sorted(dictio.items(), key=lambda x: x[0].lower()) )

#dict(sorted(murder_dict.keys(), key=lambda x:x))

#murder_dict

In [103]:
#import collections
#test = collections.OrderedDict(sorted(murder_dict.items()))

In [104]:
#test

OrderedDict([('Alabama', 13),
             ('Alaska', 5),
             ('Arizona', 12),
             ('Arkansas', 4),
             ('California', 78),
             ('Colorado', 5),
             ('Connecticut', 14),
             ('Delaware', 1),
             ('District of Columbia', 12),
             ('Federal', 4),
             ('Florida', 27),
             ('Georgia', 18),
             ('Hawaii', 0),
             ('Idaho', 2),
             ('Illinois', 155),
             ('Indiana', 14),
             ('Iowa', 4),
             ('Kansas', 3),
             ('Kentucky', 5),
             ('Louisiana', 33),
             ('Maryland', 25),
             ('Massachusetts', 25),
             ('Michigan', 34),
             ('Minnesota', 2),
             ('Mississippi', 12),
             ('Missouri', 26),
             ('Montana', 4),
             ('Nebraska', 8),
             ('Nevada', 6),
             ('New Hampshire', 0),
             ('New Jersey', 14),
             ('New Mexico', 5),
             ('New York', 121),
             ('North Carolina', 22),
             ('North Dakota', 0),
             ('Ohio', 31),
             ('Oklahoma', 17),
             ('Oregon', 7),
             ('Pennsylvania', 45),
             ('Rhode Island', 3),
             ('South Carolina', 4),
             ('South Dakota', 0),
             ('Tennessee', 11),
             ('Texas', 48),
             ('Utah', 6),
             ('Vermont', 1),
             ('Virginia', 18),
             ('Washington', 6),
             ('West Virginia', 4),
             ('Wisconsin', 12),
             ('Wyoming', 2)])

In [ ]:
murder_dict_copy = dict(murder_dict)

for (key, value) in murder_dict_copy.items() :
    if 'Fed-' in key:
        del murder_dict[key]

In [ ]:
murder_dict

In [ ]:

murder_dict['Federal'] = sum([value for key, value in murder_dict.items() if 'Fed-' in key])

#del ([key for key in murder_dict_copy.items() if 'Fed-' in key])

In [ ]:
murder_dict